@font-face {
  font-family: "Inter Semibold";
  src:
    url("../fonts/inter/Inter18pt-SemiBold.woff2") format("woff2"),
    url("../fonts/inter/Inter18pt-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Medium";
  src:
    url("../fonts/inter/Inter18pt-Medium.woff2") format("woff2"),
    url("../fonts/inter/Inter18pt-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Regular";
  src:
    url("../fonts/inter/Inter18pt-Regular.woff2") format("woff2"),
    url("../fonts/inter/Inter18pt-SemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
