/* Header */

.header-container {
  width: 1220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 52px;
}

.logo-image {
  width: 200px;
}

.navigation-list {
  width: 601px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  color: #37393f;
  font-family: "Inter Regular";
}

.navigation-and-button {
  width: 825px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CTA {
  width: 184px;
  height: 65px;
  background-color: #6b77e5;
  border: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  color: #ffffff;
  font-family: "Inter Semibold";
}
